<div class="card" style="width: 20rem;">
  <div class="card-body">
    <div class="card-title"></div>
       
    <form [formGroup]="formCadastro" (ngSubmit)="cadastrarUsuario()" novalidate>
      <div class="form-group">
        <input 
          type="email" 
          class="form-control" 
          placeholder="E-mail"
          formControlName="email"
        >
      </div>
      <div class="form-group">
        <input 
          type="text"
          class="form-control" 
          placeholder="Nome completo"
          formControlName="nomeCompleto"
        >
      </div>
      <div class="form-group">
        <input 
          type="text"
          class="form-control" 
          placeholder="Nome de usuário"
          formControlName="nomeUsuario"
        >
      </div>
      <div class="form-group">
        <input 
          type="password"
          class="form-control" 
          placeholder="Senha"
          formControlName="senha"
        >
      </div>
      <small class="text text-danger d-flex justify-content-center"
        *ngIf="formCadastro.touched && !formCadastro.valid">
        Campos inválidos ou obrigatórios
      </small>

      <p class="small text-danger text-center"
         *ngIf="msgErroCadastro">
        {{msgErroCadastro}}
      </p>

      <br/>
      <button type="submit" class="btn btn-primary btn-sm btn-block" [disabled]="!isBotaoCadastroHabilitado()">Cadastre-se</button>
    </form>
    <hr />

    <p class="small text-center">Ao cadastrar-se, você concorda com nossos <b>Termos</b> e <b>Política de Privacidade</b>.</p>

  </div>
</div>
<br />
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">
      Tem uma conta? <a href="#" class="card-link" (click)="irParaLogin()">Faça login</a>
    </p> 
  </div>
</div>