<nav class="navbar fixed-top navbar-light bg-white">
  <div class="container">
    <div class="logo"></div>
    <div>
      <div class="add-post" data-toggle="modal" data-target="#incluirPublicacaoModal"></div>
      <a hfre="#" (click)="sair()" style="margin-left: 25px; cursor: pointer">Sair</a>
    </div>
  </div>  
</nav>

<br /><br /><br />
<div class="container">
  <app-publicacoes #publicacoes></app-publicacoes>
  <app-incluir-publicacao (atualizarTimeline)="atualizarTimelinePai()"></app-incluir-publicacao>  
</div>