<div class="container">
    <div class="jumbotron">

        <!-- Primeira lina com os componentes progresso e tentativas -->
        <div class="row">
            <div class="col-sm-6">                
                <app-progresso></app-progresso>
            </div>
            <div class="col-sm-6">
                <div class="d-flex justify-content-end">
                    <app-tentativas></app-tentativas>
                </div>
            </div>
        </div>

        <!-- Segunda linha com o textarea -->
        <div class="row">
            <div class="col">
                <h6>{{instrucao}}</h6>
                <p>{{rodadaFrase.fraseEng}}</p>
                <div class="form-group">
                    <textarea class="form-control" rows="3" 
                        (input)="atuallizaResposta($event)"></textarea>
                </div>                
            </div>
        </div>

        <!-- Terceira linha com os botões -->
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary"
                        (click)="verificarResposta()">Verificar</button>                
                </div>
            </div>
        </div>

    </div>
</div>
