<div class="card" style="width: 20rem;">
  <div class="card-body">
    <div class="card-title"></div>
    
    <form [formGroup]="formLogin" (ngSubmit)="autenticar()">
      <div class="form-group">
        <input 
          type="email" 
          class="form-control" 
          placeholder="E-mail"
          formControlName="email"
        >
      </div>
      <div class="form-group">
        <input 
          type="password"
          class="form-control" 
          placeholder="Senha"
          formControlName="senha"
        >
      </div>
      <button type="submit" class="btn btn-primary btn-sm btn-block" [disabled]="!isBotaoLoginHabilitado()">Entrar</button>
    </form>
    <hr />

    <p 
      class="small text-danger text-center"
      *ngIf="msgErroLogin">
        {{msgErroLogin}}
    </p>

  </div>
</div>
<br />
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">
      Não tem uma conta? <a href="#" (click)="irParaCadastro()" class="card-link">Cadastre-se</a>
    </p> 
  </div>
</div>