<div class="container">
  <div class="ordem-compra" *ngIf="idDoPedido === undefined else msgPedidoCriado">
    <form [formGroup]="form" (ngSubmit)="confirmarCompra()" novalidate>
    
      <h5>Sua Compra</h5>
      <hr />

      <div *ngFor="let item of itens"
           class="form-row" 
           style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">

        <div class="form-group col-sm-1">
          <img [src]="item.img.url" class="img-fluid">
        </div>
        <div class="form-group col-sm-6">
          {{item.titulo}}
          <br />
          {{item.descricao_oferta}}
        </div>

        <div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-link" (click)="remover(item)">-</button>
              {{item.quantidade}}
              <button type="button" class="btn btn-link" (click)="adicionar(item)">+</button>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-3 d-flex justify-content-end">
          {{item.quantidade * item.valor | currency: 'BRL': true}}
        </div>
      </div>
            
      <div class="form-row">
        <div class="form-group col d-flex justify-content-end">
          <!-- Aqui no template é chamado o método do serviço que calcula o total do carrinho -->
          <h4>Total do pedido: {{carrinhoService.obtemTotalCarrinho() | currency: 'BRL': true}}</h4>
        </div>
      </div>
      <br />

      <h5>Dados de entrega</h5>
      <hr />

      <div class="form-row">

        <div class="form-group col-md-6">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Endereço" 
            autocomplete="off"
            formControlName="endereco"
          >
          <div *ngIf="form.get('endereco').touched">
            <small *ngIf="form.get('endereco').valid" class="form-text text-success">Ok</small>
            <small *ngIf="form.get('endereco').invalid" class="form-text text-danger">Endereço inválido</small>
          </div>
        </div>

        <div class="form-group col-md-2">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Número" 
            autocomplete="off"
            formControlName="numero"
          >
          <div *ngIf="form.get('numero').touched">
            <small *ngIf="form.get('numero').valid" class="form-text text-success">Ok</small>
            <small *ngIf="form.get('numero').invalid" class="form-text text-danger">Número inválido</small>
          </div>
        </div>

        <div class="form-group col-md-4">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Complemento" 
            autocomplete="off"
            formControlName="complemento"
          >
          <div *ngIf="form.get('complemento').touched">
            <small *ngIf="form.get('complemento').valid" class="form-text text-success">Ok</small>
          </div>          
        </div>

      </div>
      <br />

      <h5>Dados de pagamento</h5>
      <hr />

      <div class="form-row">
          
        <div class="form-group col-md-3">
          <select 
            class="form-control"
            formControlName="formaPagamento"
          >
            <option value="">Selecione uma opção</option>
            <option value="dinheiro">Dinheiro</option>
            <option value="debito">Débito</option>
          </select>
          
          <div *ngIf="form.get('formaPagamento').touched">
            <small *ngIf="form.get('formaPagamento').valid" class="form-text text-success">Ok</small>
            <small *ngIf="form.get('formaPagamento').invalid" class="form-text text-danger">Forma de pagamento inválido</small>
          </div>          
        </div>
      </div>

      <hr />
      <button 
        type="submit" 
        class="btn btn-primary btn-lg"
        
      >Cofirmar compra</button>
    </form>
  </div>
  
  <ng-template #msgPedidoCriado class="ordem-compra">
    <app-order-compra-sucesso [idPedidoCompra]=idDoPedido></app-order-compra-sucesso>
  </ng-template>

</div>